.header{
    height: 50px;
    width: 100%;
    max-width: 430px;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
    position: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.brand{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    letter-spacing: 1.5px;
}

.menu {
    position: fixed;
    top: 50px;
    width: 100%;
    max-width: 215px;
    height: 360vh;

    background-color: white;
    
    /* Align the menu with the left edge of your 430px website */
    left: 0px;

    transform: translateX(-200%);
    transition: transform 0.4s ease; 
 /*decides which element appears in front or back based on the value*/
}

.menu.open{
    transform: translateX(0);
}

.menu-btn{
    font-size: x-large;
    border: none;
}

a{
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-top: 12px;
    color: #2f3b2f;
}

#logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
