.products{
    height: 250px;
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: row;
    gap : 12px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.items{
    height:220px;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 0 0 160px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.3);  
    border: 2px solid black;
    box-sizing: border-box;
}   

.items img{
    width: 120px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.rbox{
   
    height: 270px;/*use outline to debug height was 20px so the letter was appearing over the cards*/
    width: 100%;
}

.swipe{
    color: black;
    padding-bottom: 20px;
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.fres{
    height: 220px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    gap : 20px;
    padding: 0 15px;
    box-sizing: border-box;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.card{
    height:190px;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 0 0 160px;
    scroll-snap-align: center;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.3);  
    border: 2px solid black;
    padding: 10px 10px;
    box-sizing: border-box;
    
}

.card img{
    width: 120px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.ptext{
    color: white; 
    padding-top: 0px; 
    font-weight: small; 
    text-decoration: none;
    text-align: center;
    margin: 10px;
    letter-spacing:1.5px;
    font-size: medium;
}
