.products{
    height: 250px;
    width: 380px;
    display: flex;
    flex-direction: row;
    gap : 20px;
    padding-left: 25px;
    padding-top: 20px;
}

.items{
    height: 230px;
    width: 200px;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    display: block;
    position: static;
}    
